li{
  list-style: none;
}


/* 헤더부분------------------------------------ */
.nav-area{
  background-color: white;
  position: fixed;
  width: 100%;
}
.header-area{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;

}
.menu{
  padding: 0;
  margin: 0;
  display: flex;
}

.menu a{
  color: #4d5159;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  margin-right: 30px;
}

input{
  width: 288px;
  padding: 9px 12px;
  border-radius: 5px;
  border: none;
  background-color: #f2f3f6;
}
.search-area button{
  padding: 8px 16px;
  margin-left: 10px;
  background-color: white;
  font-weight: bold;
  border: 1px solid #d1d3d8;
  border-radius: 5px;
}

/* 첫번째 화면------------------------------------------ */
.firstView-area{
  background-color: #FFFAE0;
  height: 790px;
}

.firstView{
  display: flex;
  justify-content: center;
}
.firstView-text{
  width: 1024px;
  
}

.firstView-img{
  position: absolute;
  top: 0;
  right: 30px;
}

.firstView-text h1{
  font-weight: bold;
  font-size: 3.5em;
  padding-top: 200px;
}

.firstView-text p{
  font-size: 20px;
  color: gray;
  margin: 30px 0;
}

.firstView-btns {
  display: flex;
}

.firstView-btns div{
  width: 180px;
  padding: 14px 20px;
  margin-right: 10px;
  text-align: center;
  background-color: #FF6F0F;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands{
  font-size: 18px;
  margin-right: 10px;
}
.app-store{
  font-size: 24px;
}

/* 두번째 화면--------------------------------------------- */
.secondView-area{
  background-color: #f9f9f9;
}
.secondView{
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondView-text1{
  font-weight: bold;
  color: #FF6F0F;
  font-size: 18px;
  margin-bottom: 10px;
}
.secondView-text2{
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 10px;
}
.secondView-text3{
  font-size: 20px;
  color: gray;
}
.secondView-btns{
  margin-top: 1.8em;
  display: flex;
  flex-direction: column;
}

.secondView-btns div{
  padding: 12px 20px;
  margin-bottom: 10px;
  background-color: #E9ECEF;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
}

/* 세번쨰 뷰-0-0------------------------------------------------------ */
.third-area{
  background-color: #fff8f1;
}

.home-story-list{
  display: flex;
  margin-top: 40px;
}
.home-story-div{
  margin: 16px 16px 16px 0;
}

.home-story-list-logo{
  width: 56px;
  height: 56px;
  background-color: #ffe5d1;
  color: #ff6f0f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  border-radius: 15px;
}

.home-story-list-title{
  color: #ff6f0f;
  margin: 16px 0 8px 0;
  font-size: 0.9em;
}
.home-story-list-description{
  width: 124px;
  font-size: 13px;
  color: #7c7c7c;
}

/* 네번쨰 페이지 ----------------------------------------------------- */
.fourthView-area{
  background-color: #f9f9f9;
}
.fourthView{
  display: flex;
}
/* 푸터부분---------------------------------------------------------- */
.footer-area{
  width: 768px;
  margin: 0 auto;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
  border-bottom: 1px solid #dbdcdd;
}

.footer-top a{
  text-decoration: none;
  color: black;
}

.footer-top a:hover{
  text-decoration: underline;
}

.footer-top li{
  margin: 10px 25px 27px 25px;
  font-size: 0.9em;
}

.footer-menus{
  display: flex;
}

.carrot-downloads {
  font-weight: bold;
}

.download-btns{
  display: flex;
  align-items: center;
}

.download-btns span{
  width: 147px;
  height: 44px;
  background-color: #f2f3f6;
  border-radius: 10px;
}

.goTo-download{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 0.95em;
  cursor: pointer;
}

.goTo-download:hover{
  color: rgba(0, 0, 0, 0.61);
}

.footer-bottom{
  padding: 24px 0 100px 0;
}

.footer-bottom-top{
  display: flex;
  justify-content: space-between;
  color: #868b94;
  font-size: 0.82em;
}


.footer-bottom-brands{
  font-size: 1.7em;
}

.footer-bottom-brands a{
  margin-right: 20px;
  color: #868b94;
} 

.footer-bottom-brands a:hover, .footer-bottom-brands span:hover{
  color:#868b94b0;
  
}

.footer-bottom-brands span{
  width: 92px;
  height: 33px;
  font-size: 0.65em;
  cursor: pointer;
}

.footer-question a, .footer-lastMenu a{
  text-decoration: none;
  color: #868b94;
  font-size: 0.82em;
  margin-right: 16px;
}

.footer-question a:hover, .footer-lastMenu a:hover{
  text-decoration: underline;
}

.footer-question{
  margin: 16px 0;
}